*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html {
    height: auto;
    
  }
body{
    /*background-image: url(img/food.jpg);*/
    background-color: rgba(245, 245, 245, 0.750);
    height: auto;
    overflow-x: hidden;
    
    
    
}
.container{
    
    position: relative;
    min-height: 100%;
    margin-top: 65vh;
    width: 85%; 
    
    left: 7.5%; 
    background-color: rgba(245, 245, 245, 0.750);
    
}
.menu-header{
    
}
.box-area{
    height: 60px;
    background-color: transparent;
    width: 100%;
    z-index: 10000;
    position: fixed;
    top: 0;
    color: #fff;
    
    
}
.wrapper{
    width: 80%;
    margin-left: 10%;
}
.nav-logo{
    width: 40%;
    float: left;
    line-height: 60px;
    
    
}
* nav{
    float: right;
    line-height: 30px;
    color: white;
}
nav a{
    color: white;
}
.nav-button{
    text-decoration: none;
  display: inline-block;
  background-color: transparent;
  color: white;
  text-decoration: none;
  background: none;
	color: inherit;
	border: 1px solid white;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right:10px;
}
.navbar{
    top: 0;
    margin: 0px;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 3;
    background-color: #297eaf;;
    color: #093b58;
    text-align: right;
    
    
    transition: transform 0.2s;
}
.navbar--hidden {
    transform: translateY(calc(-1 * 50px));
    box-shadow: none;
  }
.nav_link{
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    top: 15px;
    color: #0e3d72;
    text-decoration: none;
   
    font-weight: bold;
}
.pepper{
    color: red;
}
.logo{
    position: absolute;
    top:23vh;
    left: 50vw;
    transform: translatex(-50%);

    width: 10vw;
    height: 15vh;
    cursor: pointer;
    margin: 0px 0;
    color: rgba(245, 245, 245, 0.750);;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
}



.restitle{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
.box{
    position: relative;
    
    width: 95%; 
    top: 5%; 
    left: 2.5%; 
    /*border: solid black 1px;*/
    align-items: center;
    text-align: center;
    
}
.order{
    background: none;
	color: inherit;
	
	padding: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}
.youtube1{
    margin-top: 0px;
}
.text1{
    margin: 0;
}
.video-container { 
    position: relative;
    padding-bottom: 20%;
    padding-top: 10px; 
    height: 80%; 
    overflow: hidden;
    
    
}
iframe { 
    position: relative; 
    top: 0; 
    left: 0; 
    width: 80% !important; 
    height: 70% !important;
}
.logo_con{
    display: none;
}
.grid-container {
    
    align-items: center;
    width: 66%;
    margin: auto;
    margin-bottom: 20px;
                
  }
  .grid-item {
    
    padding-right: 20px;
    cursor: pointer;
   
    font-size: 15px;
    text-align: center;
  }
  .menu_block{
      display: block;
  }
  .menu_header{
      margin: 20px;
      text-align: center;
  }
  .menu1{
    display: block;
    
    align-items: center;
    margin-left: 12%;
    margin-right: 12%;
    text-align: justify;
    
  }
  .menu2{
    display: none;
    
    align-items: center;
    margin-left: 12%;
    margin-right: 12%;
    text-align: justify;
}
.menu3{
    display: none;
    
    align-items: center;
    margin-left: 12%;
    margin-right: 12%;
    text-align: justify;
}
.menu4{
    display: none;
    
    align-items: center;
    margin-left: 12%;
    margin-right: 12%;
    text-align: justify;
}
.menu5{
    display: none;
    
    align-items: center;
    margin-left: 12%;
    margin-right: 12%;
    text-align: justify;
}
.menu6{
    display: none;
    
    align-items: center;
    margin-left: 12%;
    margin-right: 12%;
    text-align: justify;
}
.menu7{
    display: none;
    
    align-items: center;
    margin-left: 12%;
    margin-right: 12%;
    text-align: justify;
}
.menu8{
    display: none;
    
    align-items: center;
    margin-left: 12%;
    margin-right: 12%;
    text-align: justify;
}  
.menu9{
    display: none;
    
    align-items: center;
    margin-left: 12%;
    margin-right: 12%;
    text-align: justify;
}
.row_men {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.750);
    
  }
  
  /* Create four equal columns */
  .column_men {
    
    flex: 25%;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.750);
  }
  .item_header{
      font-size: 20px;
      display: inline-block;
      background-color: rgba(245, 245, 245, 0.750);
      
  }
  .item_con{
    font-size: 13px;
    font-style: italic;
    background-color: rgba(245, 245, 245, 0.750);
  }
  .item_des{
    font-size: 10px;
    background-color: rgba(245, 245, 245, 0.750);
  }
 
  .text1{
      margin: 20px;
  }
  .pic_con{
        min-width:  100vw;
        min-height: 20vh;
        max-width:100vw;
        overflow-x: hidden;
        padding: 0;
        margin: 0;
        background-image: url(img/kbbq4.jpg);
        
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        text-align: center;
        
        
  }
  /*
  .logoland{
    max-width: 420px;
    width: 80%;
    height: 100vh;
    position: relative;
    
top: 50vh;
transform: translateY(-50%);
 
  }
  */
  
  .logoland{
    max-width: 420px;
    width: 25%;
    height: 20vh;
    position: relative;
    background: transparent;
top: 10vh;
transform: translateY(-50%);

margin: 0;
padding: 0;

    
    
      
      
  }
.hot{
    background-color: rgba(245, 245, 245, 0.750);
    color:rgba(245, 245, 245, 0.750);;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    
    
}

.pic_con2{
    min-width:  100vw;
        min-height: 20vh;
        max-width:100vw;
        overflow-x: hidden;
        padding: 0;
        margin: 0;
        background-image: url(img/kbbq4.jpg);
        
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        text-align: center;
        right: 10vw;
}
.logohead{
    width: 70px;
    height: 30px;

}
.headpic{
    width: 100%;
    height: 100%;
    left : 2em;
    
}
.headersmall{
    display: none;
    /*display: flex;*/
    justify-content: start;
    /*justify-content: sp*/
    padding: 1em;
    margin-bottom: 30px;
    background-color: white;

}
.navhead{
    display: none;
    position: fixed;
    background: rgba(245, 245, 245, 0.750);
    color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translatex(100%);
    transition: transform 250ms cubic-bezier(.5,0,.5,1) ;
}
.nav_listhead{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;

}
.nav_linkhead{
    color: inherit;
    font-weight: 100;
    font-size: 25px;
    text-decoration: none;
}
.nav_linkhead:hover{
    color: #0e3d72;

}
.hamburger{
    
    display: block;
    position: relative;

}
.hamburger,
.hamburger::before,
.hamburger::after{
    background: #297eaf;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    

}
.hamburger::before{
    top:6px;
}
.hamburger::after{
    bottom: 6px;
}
.nav_toggle{
    display: none;
    padding: .25em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right : 2em;
    top: 2em;
    z-index :1000;
    color: #297eaf;
}
.nav_open .navhead{
    transform: translatex(0);
}


.fullnav{
    
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    position: fixed;
    top: 0;
    
    
}
.entirediv{
    color: inherit;
}
.fullul{
    list-style-type: none;
}
.fullli{
    display: inline-block;
    padding: 0;
}
.fullpic{
    
    height:50px;
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;

}
.fulllink{
    color: white;
    text-decoration: none;
    margin-right: 35px;
}
.menu{
    display: none;
}
.menu_line{
    width: 20px;
    height: 3px;
    background-color: black;
    margin-bottom: 6px;

}

.intro{
    width: 100vw;
    height: calc(60vh );
    position: absolute;
    left: 0;
    top:0;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;

}
.slideshow-img{
    width: 100vw;
    height: calc(60vh );
    position: absolute;
    background-color: rgba(245, 245, 245, 0.750);;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: -1;
    filter: brightness(75%);
    
}
.slideshow-img:first-child{
    display: block;
    opacity: 1;
}
.textslide{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  border-radius: 0.5rem;
  padding: 2rem 2.5rem;
  background-color: rgba(0,0,0,.5);
  letter-spacing: 0.1rem;
}
.info{
    display: flex;
    justify-content: space-evenly;
   
    background-color: rgba(245, 245, 245, 0.750);
    color: black;
    text-align: justify;
    
    
}
.info-header{
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    
}
.map{
    flex-basis: 65%;
    min-width: 40%;
    max-width: 45%;
    border-radius: 15px;
    margin-bottom: 40px;

   

}
.contact-map{
    
}
.info-head{
    margin-bottom: 10px;
}
.info-para{
    margin-bottom: 30px;
}
.contact-info{
   text-align: center;
}

.takealook{
    margin-top: 30vh;
    text-align: center;
    align-items: center;
    align-content: center;
}
.des-logo{
    margin-top: 30px;
    margin-bottom: 30px;
}
.des-title{
    
    margin-bottom: 30px;
}
.takealookh2{
    margin-top: 30px;
    margin-bottom: 30px;
}
.gallery{
    margin: 10px 50px;

}
.gallery img{
    width: 20%;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
}
.gallery img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}

@media all and (max-width: 550px){
    .fullnav{
        flex-direction: column;
        justify-content: space-around;
    }
    .menu{
        display: block;
        position: absolute;
        right: 45px;
        top: 60px;
        
   
 
    

    }
    .fullli{
        display: block;
        padding: 10px;
        border-top: 1px solid black;
        
    }
    .fullli:last-child{
        border-bottom: 1px solid black;
    }
    .fullul{
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 1px;
        display: none;

    }
    .fulllink{
        margin-right: 0px;
    }
    .entirediv{
        width: 100%;
        margin-left: 10px;
        margin-top: 10px;
    }
    .active{
        display: block;
    }
    .info{
        flex-direction: column;
        text-align: center;

    }
    .map{
        flex-basis: 50%;
        min-width: 40%;
        max-width: 50%;
        justify-content: center;
        align-items: center;
    
       
    
    }
    .nav-logo{
        width: 40%;
    
        font-size: 20px;
        margin-left: 5%;
    }
    .wrapper{
        width: 100%;
        margin-left: 0;
    }
    .logo{
        position: absolute;
    top:23vh;
    left: 50vw;
    transform: translatex(-50%);

    width: 25vw;
    height: 15vh;
    cursor: pointer;
    margin: 0px 0;
    color: rgba(245, 245, 245, 0.750);;
    }
}


@media only screen and (max-width:1500px) {

    .row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        height: 100%;
        
        
    }
    .col1{
        flex-basis: 50%;
        position: relative;
        text-align: center;
        height: 100%;
    }
    .col2{
        flex-basis: 50%;
        position: relative;
        text-align: center;
        height: 100%;
    }
    .box::after{
        display: none;
    }
    .navbar{
        /*
        all: unset;
        display: none;
        margin-top: 100px;
        text-align: left;
        */
        
    }
    
    .nav_link{
        /*
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        
        */

    }
    .logo_con{
        display: block;
        position: absolute;
        text-align: right;
        margin: 0;
        padding: 0;
        
    }
    .menu-icon{
        position: relative;
        margin: 0px;
        padding: 0px;
    }
    .column_men {
    
        flex: 33%;
        padding: 20px;
      }
      .logo{
        position: absolute;
        top:23vh;
        left: 50vw;
        transform: translatex(-50%);

        width: 20vw;
        height: 17vh;
        cursor: pointer;
        margin: 0px 0;
        color: rgba(245, 245, 245, 0.750);;
    }
    .nav-logo{
        width: 40%;
    
        font-size: 30px;
        margin-left: 5%;
    }
    
}

@media only screen and (max-width:800px) {
    .column_men {
    
        flex: 50%;
        padding: 20px;
      }
   
    .logo{
        position: absolute;
        top:23vh;
        left: 50vw;
        transform: translatex(-50%);

        width: 20vw;
        height: 17vh;
        cursor: pointer;
        margin: 0px 0;
        color: rgba(245, 245, 245, 0.750);;
    }
    .nav-logo{
        width: 40%;
    
        font-size: 25px;
        margin-left: 5%;
    }
    .info{
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    
}
@media only screen and (max-width:700px) {
    .column_men {
    
        flex: 50%;
        padding: 20px;
      }
   
    .logo{
        position: absolute;
        top:23vh;
        left: 50vw;
        transform: translatex(-50%);

        width: 20vw;
        height: 17vh;
        cursor: pointer;
        margin: 0px 0;
        color: rgba(245, 245, 245, 0.750);;
    }
    .nav-logo{
        width: 40%;
    
        font-size: 25px;
        margin-left: 5%;
    }
    
}
@media only screen and (max-width:600px) {
    .column_men {
    
        flex: 50%;
        padding: 20px;
      }
   
    .logo{
        position: absolute;
        top:23vh;
        left: 50vw;
        transform: translatex(-50%);

        width: 23vw;
        height: 18vh;
        cursor: pointer;
        margin: 0px 0;
        color: rgba(245, 245, 245, 0.750);;
    }
    .nav-logo{
        width: 40%;
    
        font-size: 20px;
        margin-left: 5%;
    }
    
}



